NEXTAUTH_SECRET="your-secret-key-here-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
TMDB_API_KEY="your-tmdb-api-key-here"
TMDB_API_URL="https://api.themoviedb.org/3"

DATABASE_URL="postgresql://postgres.ajmydfeuebvdomaizywz:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.ajmydfeuebvdomaizywz:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"